#navbar {
  background-color: navy;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  margin: 0%;
}

.navigation{
  color: white;
  padding: 15px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
}

body{
  background-color: #94d6ff;
  margin: 0%;
}
  h1{
    font-size: 30px;
    color: #d10000;
  }

  h2{
    font-size: 25px;
    color: white;
  }

  h3{
    font-size: 22px;
    color: #000fdb;
  }

@media (max-width: 600px) {

  body{
    background-color: orangered;
  }
  h1{
    font-size: 30px;
    color: #ffbb00;
  }

  h2{
    color: #c20000;
  }

  h3{
    color: powderblue;
  }
}

img{
  width: 250px;
}